<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav_container">
        <nav class="first_nav">
            <div class="title">
                <a href="#"><img src="/static/images/meeshoLogo.svg" alt=""></a>
            </div>
            <div class="form">
                <form>
                    <input type="search" name="search" placeholder="Try Saree,Kurti or search by Product Code">
                </form>
            </div>
            <div class="dwn">
                <ul>
                    <li><a href="#"><i class="fa fa-mobile">&nbsp;&nbsp;</i>Download App</a>
                        <ul>
                            <div class="dwn_app">
                                <li><Span>Download Form</Span></li><br>
                                <li><a href="#"><img src="/static/images/first navbar/playstore.png" alt=""></a></li>
                                <br>
                                <li><a href="#"><img src="/static/images/first navbar/appstore.png" alt=""></a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="#">Become a Supplier</a>
            <a href="#">Newsroom</a>
        </nav>
    </div>
    <hr>
    <div class="container">
        <div class="signup_form">
            <div class="signup">
                <img src="/static/images/signup" alt=""><br><br>
                <div class="sign_content">
                    <div class="sig_con">
                        <div class="country">
                            <h3>Sign Up to view your profile</h3><br>
                        </div>
                        <div class="signup_form">
                            <form method="post">

                                <p>country</p>
                                <div class="in">
                                    <h3>IN +91</h3>
                                    <input class="form-control form-control-sm" maxlength="10" type="text" name="mobile"
                                        placeholder="Phone Number">
                                </div>
                                <input class="signup_btn" type="submit" value="Continue">
                            </form>
                        </div>
                        <br><br><br><br><br>
                        <div class="signup_terms">
                            <p>By continuing, you agree to Meesho's </p>
                            <p><span>Terms & Conditions and Privacy Policy</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>